<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.awatef.loggin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ESA"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.QRActivity"></activity>
        <activity android:name=".ui.TableSubjectActivity" />
        <activity android:name=".ui.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" />
        <activity
            android:name=".ui.content"
            />
        <activity
            android:name=".ui.Profile"
            android:parentActivityName=".ui.content" />
        <activity
            android:name=".ui.Courses"
            android:parentActivityName=".ui.content" />
        <activity
            android:name=".ui.News"
            android:parentActivityName=".ui.content" />
        <activity
            android:name=".ui.Courses2"
            android:parentActivityName=".ui.Courses" />
        <activity
            android:name=".ui.Grade"
            android:parentActivityName=".ui.Courses2" />
        <activity
            android:name=".ui.Attendence"
            android:parentActivityName=".ui.Courses2" />
        <activity
            android:name=".ui.Timetable"
            android:parentActivityName=".ui.Courses2" />
        <activity android:name=".ui.Timetable1" />
    </application>

</manifest>